body {
  font-family: Arial;
  text-align: center;
}

body.control {
  background: #ffffff;
  color: #000000;
}

body.control input {
  background: #f5f5f5;
  color: #000;
  border: 1px solid #ccc;
}

body.control button {
  background: #e0e0e0;
  color: #000;
  border: 1px solid #aaa;
  cursor: pointer;
}

.setTitle {
  font-weight: bold;
  margin-bottom: 8px;
  color: black;
}

body.overlay {
  background: transparent;
  color: white;
}

#overlay {
  position: relative;
  width: 1920px;
  height: 1080px;

  background: url("scoreboard.png") no-repeat center;
  background-size: contain;
}

#matchInfo {
  position: absolute;
  left: 120px;
  top: 20px;

  width: 260px;
  padding: 8px 12px;

  border-radius: 8px;
  background: transparent;

  color: white;
  text-align: left;
  text-shadow: 0 0 6px rgba(0,0,0,0.8);
}

#round {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.2;
}

#phase {
  font-size: 14px;
  opacity: 0.85;
  line-height: 1.2;
}

#p1, #p2, #score1, #score2 {
  position: absolute;
  color: white;
  text-shadow: 0 0 6px rgba(0,0,0,0.8);
}

#p1 {
  left: 615px;
  top: 18px;
  width: 320px;
  font-size: 45px;

  transform: translateX(-50%);
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
}

#p2 {
  left: 1305px;
  top: 18px;
  width: 320px;
  font-size: 45px;

  transform: translateX(-50%);
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
}

#score1 {
  left: 838px;
  top: 17px;
  width: 70px;
  font-size: 50px;

  transform: translateX(-50%);
  text-align: center;
  font-variant-numeric: tabular-nums;
}

#score2 {
  left: 1082px;
  top: 17px;
  width: 70px;
  font-size: 50px;

  transform: translateX(-50%);
  text-align: center;
  font-variant-numeric: tabular-nums;
}

.changed {
  animation: fadeUpdate 0.5s ease;
}

@keyframes fadeUpdate {
  0% {
    opacity: 0.4;
    transform: translateX(-50%) scale(0.98);
  }
  100% {
    opacity: 1;
    transform: translateX(-50%) scale(1);
  }
}
