body {
  font-family: Arial;
  text-align: center;
}

body.control {
  background: #ffffff;
  color: #000000;
}

body.control input {
  background: #f5f5f5;
  color: #000;
  border: 1px solid #ccc;
}

body.control button {
  background: #e0e0e0;
  color: #000;
  border: 1px solid #aaa;
  cursor: pointer;
}

.setTitle {
  font-weight: bold;
  margin-bottom: 8px;
  color: black;
}

body.overlay {
  background: transparent;
  color: #ffffff;
}

#overlay {
  position: relative;
  width: 1920px;
  height: 1080px;

  background: url("scoreboard.png") no-repeat center;
  background-size: contain;
}

#p1, #p2, #score {
  position: absolute;
}

#p1 {
  left: 100px;
  top: 100px;
}

#score {
  left: 900px;
  top: 100px;
  font-size: 50px;
}

#p2 {
  right: 100px;
  top: 100px;
}

.changed {
  animation: fadeUpdate 0.5s ease;
}

@keyframes fadeUpdate {
  0% {
    opacity: 0.4;
    transform: scale(0.98);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
